# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Build artifacts
/dist
/dist/**
/tmp
/out-tsc
/bazel-out
/bin
/obj
/App_Data/logs/
/App_Data/logs/**
!/App_Data/logs/.gitkeep

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
/App_Data/logs/log-*.log

# System files
.DS_Store
Thumbs.db

